@import '/src//app.module.scss';

.productlist_main_container{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;

    .product_list_title{
        margin: size(20) 0 size(20) size(20);
    }
}